.form-share-container {
    margin-top: 128px;
}

.form-share-container p {
    text-align: center;
}

.share-form input{
    margin-top: 7px;
    margin-bottom: 50px;
    height: 30px;
}

.share-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-button button {
    width: 36%;
    height: 39px;
}

.share-row {
    display: flex;
    margin-top: 39px;
}

.share-left {
    width: 50%;
    padding-left: 10%;
    margin-right: 20px;
}

.share-left input{
    width: 100%;
}

.share-right {
    width: 50%;
    padding-right: 10%;
    margin-left: 20px;
}

.share-right input{
    width: 100%;
}

.right-radio div {
    display: inline-block;
}

@media (max-width:420px) {
    /* de 0px até 428px */
    .form-share-container form, .form-share-container p {
        margin: 0 5%;
    }
}

@media (max-width: 920px) {
    /* de 0px até 768px */  
    .share-row {
        display: block;
    }
    .share-left, .share-right {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    .share-form input {
        margin-top: 7px;
        margin-bottom: 20px;
    }
    .share-button button {
        width: 260px;
        height: 39px;
        margin-top: 22px;
    }
}