body {
    margin: 0;
    font-family: helvetica;
    color: #888888;
}

.textWhite {
    color: #FFFFFF;
}

.text40px {
    font-size: 40px;
}

.text20px {
    font-size: 20px;
}

.text18px {
    font-size: 18px;
}

.text16px {
    font-size: 16px;
}

.text14px {
    font-size: 14px;
}

.text12px {
    font-size: 12px;
}

.header {
    background: #707070;
    height: 399px;
    text-align: center; 
    position: relative;
    overflow: hidden;
}

.header::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #FFFFFF;
    left: 0;
    top: 0;
    transform: skewY(6deg);
    top: 80%
}

.container {
    margin: 0 19.3%;
}

.button-style {
    background-color: #FFFFFF; 
    color: #707070; 
    border: 1px solid #707070;
    border-radius: 4px;
    font-size: 16px;
    height: 40px;
}

.button-header {
    width: 160px;
    margin-right: 40px;
}

.fieldset {
    border-top: 1px solid #707070;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: center;
    margin: 25px 0;
}

.footer {
    background: #707070;
    height: 293px;
    text-align: center; 
    position: relative;
    overflow: hidden;
}

.footer p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
 }

.footer::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #FFFFFF;
    left: 0;
    top: 0;
    transform: skewY(-6deg);
    top: -73%
}
